<div class="jumbotron" fxHide.lt-md>
  <div class="inner">Szeged Transport</div>
</div>

<mat-card>
  <mat-card-header>
    <mat-card-title>Járatok</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Villamos">
        <div fxLayout="row wrap" fxLayoutGap="30px" fxLayoutAlign="start center">
          <div *ngFor="let route of trams">
            <a class="route tram" [routerLink]="'/routes/' + route.id" mat-button>{{ route.shortName }}</a>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Trolibusz">
        <div fxLayout="row wrap" fxLayoutGap="30px" fxLayoutAlign="start center">
          <div *ngFor="let route of trolleys">
            <a class="route trolley" [routerLink]="'/routes/' + route.id" mat-button>{{ route.shortName }}</a>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Busz">
        <div fxLayout="row wrap" fxLayoutGap="30px" fxLayoutAlign="start center">
          <div *ngFor="let route of buses">
            <a class="route bus" [routerLink]="'/routes/' + route.id" mat-button>{{ route.shortName }}</a>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
