<div class="jumbotron" fxHide.lt-md>
  <div class="inner">Szeged Transport</div>
</div>

<mat-card>
  <mat-card-header>
    <mat-card-title>Járatok</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-slide-toggle [(ngModel)]="occasional" (change)="occasionalCheck()">Tartalmazza a különjáratokat</mat-slide-toggle>
    <mat-tab-group *ngIf="trams; else loadingPage" mat-stretch-tabs>
      <mat-tab label="Villamos">
        <div fxLayout="row wrap" fxLayoutGap="30px" fxLayoutAlign="start center">
          <div *ngFor="let route of trams">
            <a class="route tram" [routerLink]="'/routes/' + route.id" mat-button [matBadge]="route.occasional?'K':''" matBadgePosition="after" matBadgeColor="accent">{{ route.shortName }}</a>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Trolibusz">
        <div fxLayout="row wrap" fxLayoutGap="30px" fxLayoutAlign="start center">
          <div *ngFor="let route of trolleys">
            <a class="route trolley" [routerLink]="'/routes/' + route.id" mat-button [matBadge]="route.occasional?'K':''" matBadgePosition="after" matBadgeColor="accent">{{ route.shortName }}</a>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Busz">
        <div fxLayout="row wrap" fxLayoutGap="30px" fxLayoutAlign="start center">
          <div *ngFor="let route of buses">
            <a class="route bus" [routerLink]="'/routes/' + route.id" mat-button [matBadge]="route.occasional?'K':''" matBadgePosition="after" matBadgeColor="accent"> {{ route.shortName }}</a>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
    <ng-template #loadingPage>
      <app-loading></app-loading>
    </ng-template>
  </mat-card-content>
</mat-card>
