.jumbotron {
  background: url("/assets/station.png") no-repeat center/cover;
  position: relative;
  width: 100%;
  height: 400px;

  .inner {
    position: absolute;
    height: 400px;
    line-height: 400px;
    text-align: center;
    width: 100%;
    background: rgba(0, 0, 0, .6);
    color: #ffffff;
    font-size: 5em;
  }
}

mat-card {
  margin: 20px auto 0;
  max-width: 500px;
}

@media only screen and (max-width: 552px) {
  mat-card {
    margin: 20px 10px 0;
  }
}

.route {
  line-height: 40px;
  width: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 10px;
  color: white;
}

.tram {
  background-color: #f1c40f;
}

.trolley {
  background-color: #2ecc71;
}


.bus {
  background-color: #2980b9;
}
