<ng-container *ngIf="stop; else loadingPage">
  <h2 class="title">{{ stop.name }}</h2>
  <div class="flex" fxLayout="row wrap" fxLayoutGap.gt-sm="10px" fxLayoutAlign="center">
    <div fxFlex.gt-sm="30" fxFlex.lt-md="100" class="flex-item">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Járatok</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-checkbox [(ngModel)]="occasional" (change)="occasionalCheck()">Tartalmazza a különjáratokat</mat-checkbox>
          <mat-tab-group *ngIf="trams; else loadingPage" mat-stretch-tabs>
            <mat-tab label="Villamos" *ngIf="trams.length > 0">
              <div fxLayout="row wrap" fxLayoutGap="30px" fxLayoutAlign="start center">
                <div *ngFor="let route of trams">
                  <a class="route tram" [routerLink]="'/routes/' + route.id" mat-button [matBadge]="route.occasional?'K':''" matBadgePosition="after" matBadgeColor="accent">{{ route.shortName }}</a>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Trolibusz" *ngIf="trolleys.length > 0">
              <div fxLayout="row wrap" fxLayoutGap="30px" fxLayoutAlign="start center">
                <div *ngFor="let route of trolleys">
                  <a class="route trolley" [routerLink]="'/routes/' + route.id" mat-button [matBadge]="route.occasional?'K':''" matBadgePosition="after" matBadgeColor="accent">{{ route.shortName }}</a>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Busz" *ngIf="buses.length > 0">
              <div fxLayout="row wrap" fxLayoutGap="30px" fxLayoutAlign="start center">
                <div *ngFor="let route of buses">
                  <a class="route bus" [routerLink]="'/routes/' + route.id" mat-button [matBadge]="route.occasional?'K':''" matBadgePosition="after" matBadgeColor="accent"> {{ route.shortName }}</a>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
          <ng-template #loadingPage>
            <app-loading></app-loading>
          </ng-template>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex.gt-sm="60" fxFlex.lt-md="100" class="flex-item">
      <agm-map [zoom]="17" [latitude]="+stop.lat" [longitude]="+stop.lon">
        <agm-marker [latitude]="+stop.lat" [longitude]="+stop.lon"
                    [agmFitBounds]="true">
        </agm-marker>
      </agm-map>
    </div>
    <div fxFlex.gt-sm="60" fxFlex.lt-md="100" class="flex-item">
      <div *ngIf="currentRoutes$ | async as stops; else loadingPage">
        <h2>Érkező járatok (5 perc)</h2>
        <mat-accordion *ngIf="stops.length > 0; else noStop">
          <mat-expansion-panel *ngFor="let routeStop of stops">
            <mat-expansion-panel-header fxLayoutGap="10px">
              <mat-panel-title fxFlex="10">
                <div [appTimeCounter]="routeStop.arrivalTime" (value)="time[routeStop.route.id*routeStop.arrivalTime.getTime()] = $event">
                  <button mat-flat-button disabled> {{ time[routeStop.route.id*routeStop.arrivalTime.getTime()] | date:'mm:ss' }} </button>
                </div>
              </mat-panel-title>
              <mat-panel-description fxFlex="grow">
                <!--suppress AngularInvalidExpressionResultType -->
                <a [routerLink]="'/routes/' + routeStop.route.id" [color]="getClassFromTransportType(routeStop.route.type)"  mat-button>{{ routeStop.route.shortName }}</a>
                <span>{{routeStop.tripStart.name}} <mat-icon>arrow_right_alt</mat-icon> {{ routeStop.tripEnd.name }}</span>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Érkezik: {{ routeStop.arrivalTime.toLocaleTimeString() }}</p>
            <p>Elindul: {{ routeStop.departureTime.toLocaleTimeString() }}</p>
            <p *ngIf="routeStop.nextStop; else tripEnd">
              Kővetkező megálló: <a [routerLink]="'/stops/' + routeStop.nextStop.id">{{ routeStop.nextStop.name }}</a>
            </p>
            <ng-template #tripEnd>
              <p>A járat végállomáshoz ért!</p>
            </ng-template>
            A járat <a [routerLink]="'/stops/' + routeStop.tripStart.id">{{ routeStop.tripStart.name }}</a> megállótól <a [routerLink]="'/stops/' + routeStop.tripEnd.id">{{ routeStop.tripEnd.name }}</a> megállóig közlekedik!
          </mat-expansion-panel>
        </mat-accordion>
        <ng-template #noStop>
          <p>A megállót nem fogja érinteni járat a következő öt percben!</p>
        </ng-template>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #loadingPage>
  <app-loading></app-loading>
</ng-template>
